<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="jQuery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="bt/bootstrap-table.js"></script>
    <script type="text/javascript" src="bt/locale/bootstrap-table-zh-CN.js"></script>
    <script src="x-editable/bootstrap-editable.min.js"></script>
    <script src="bt/bootstrap-table-editable.js"></script>

    <link href="bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="bt/bootstrap-table.css" rel="stylesheet">
    <link href="x-editable/bootstrap-editable.css" rel="stylesheet"/>
</head>
<body>
<!--<p th:text="'id: ' + ${aaa}"></p>
<p th:text="'content: ' + ${bbb}"></p>-->
<div id="toolbar" class="btn-group">
    <button id="add" class="btn btn-default" title="添加">
        <i class="glyphicon glyphicon-plus"></i> 添加
    </button>
    <button id="del" class="btn btn-default" title="删除">
        <i class="glyphicon glyphicon-minus"></i> 删除
    </button>
</div>
<table id="bootstrapTable" data-toolbar="#toolbar"></table>

<script type='text/javascript'>
    $(function () {
        //1.初始化Table
        /*        var oTable = new TableInit();
                oTable.Init();*/

        $('#bootstrapTable').bootstrapTable({
            columns: [
                {
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'ID'
                }, {
                    field: 'name',
                    title: '名字',
                    editable: {
                        type: 'text',
                        title: '用户名',
                        validate: function (v) {
                            if (!v) return '用户名不能为空';
                        }
                    }
                }, {
                    field: 'app',
                    title: 'app',
                    editable: {
                        type: 'text',
                        title: '用户名',
                        validate: function (v) {
                            if (!v) return '用户名不能为空';
                        }
                    }
                }, {
                    field: 'url',
                    title: '地址',
                    editable: {
                        type: 'text',
                        title: '用户名',
                        validate: function (v) {
                            if (!v) return '用户名不能为空';
                        }
                    }
                }, {
                    field: 'account',
                    title: '账号',
                    editable: {
                        type: 'text',
                        title: '用户名',
                        validate: function (v) {
                            if (!v) return '用户名不能为空';
                        }
                    }
                }, {
                    field: 'uname',
                    title: 'uname',
                    editable: {
                        type: 'text',
                        title: '用户名',
                        validate: function (v) {
                            if (!v) return '用户名不能为空';
                        }
                    }
                }, {
                    field: 'upwd',
                    title: 'upwd',
                    editable: {
                        type: 'text',
                        title: '用户名',
                        validate: function (v) {
                            if (!v) return '用户名不能为空';
                        }
                    }
                }, {
                    field: 'email',
                    title: '邮箱',
                    editable: {
                        type: 'text',
                        title: '用户名',
                        validate: function (v) {
                            if (!v) return '用户名不能为空';
                        }
                    }
                }, {
                    field: 'fzemail',
                    title: 'fzemail',
                    editable: {
                        type: 'text',
                        title: '用户名',
                        validate: function (v) {
                            if (!v) return '用户名不能为空';
                        }
                    }
                }, {
                    field: 'phone',
                    title: '手机',
                    editable: {
                        type: 'text',
                        title: '用户名',
                        validate: function (v) {
                            if (!v) return '用户名不能为空';
                        }
                    }
                }, {
                    field: 'type',
                    title: 'type',
                    editable: {
                        type: 'text',
                        title: '用户名',
                        validate: function (v) {
                            if (!v) return '用户名不能为空';
                        }
                    }
                }, {
                    field: 'qq',
                    title: 'qq',
                    editable: {
                        type: 'text',
                        title: '用户名',
                        validate: function (v) {
                            if (!v) return '用户名不能为空';
                        }
                    }
                }, {
                    field: 'wechat',
                    title: 'wechat',
                    editable: {
                        type: 'text',
                        title: '用户名',
                        validate: function (v) {
                            if (!v) return '用户名不能为空';
                        }
                    }
                }, {
                    field: 'weibo',
                    title: 'weibo',
                    editable: {
                        type: 'text',
                        title: '用户名',
                        validate: function (v) {
                            if (!v) return '用户名不能为空';
                        }
                    }
                }, {
                    field: 'renren',
                    title: '人人',
                    editable: {
                        type: 'text',
                        title: '用户名',
                        validate: function (v) {
                            if (!v) return '用户名不能为空';
                        }
                    }
                }, {
                    field: 'idcard',
                    title: 'idcard',
                    editable: {
                        type: 'text',
                        title: '用户名',
                        validate: function (v) {
                            if (!v) return '用户名不能为空';
                        }
                    }
                }, {
                    field: 'remark',
                    title: 'remark',
                    editable: {
                        type: 'text',
                        title: '用户名',
                        validate: function (v) {
                            if (!v) return '用户名不能为空';
                        }
                    }
                }/*, {
                    field: 'regTime',
                    title: '注册时间'
                }*/, {
                    field: 'state',
                    title: 'state',
                    editable: {
                        type: 'text',
                        title: '用户名',
                        validate: function (v) {
                            if (!v) return '用户名不能为空';
                        }
                    }
                }, {
                    field: 'need',
                    title: 'need',
                    editable: {
                        type: 'text',
                        title: '用户名',
                        validate: function (v) {
                            if (!v) return '用户名不能为空';
                        }
                    }
                }, {
                    field: 'wechat',
                    title: 'wechat',
                    editable: {
                        type: 'text',
                        title: '用户名',
                        validate: function (v) {
                            if (!v) return '用户名不能为空';
                        }
                    }
                },
                {
                    field: 'operate',
                    title: '操作',
                    formatter: operateFormatter //自定义方法，添加操作按钮
                }
            ],
            url: '/selectAll',         //请求后台的URL（*）
            method: 'get',                      //请求方式（*）
            toolbar: '#toolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: false,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            queryParams: queryParams,//传递参数（*）
            //sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 10,                       //每页的记录行数（*）
            pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
            search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            contentType: "application/x-www-form-urlencoded",
            //strictSearch: true,
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: true,                //是否启用点击选中行
            //height: 700,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "no",                     //每一行的唯一标识，一般为主键列
            showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                   //是否显示父子表
            onDblClickRow: function (row) {
                console.log("click:" + row.id);
                let r = confirm("确定删除吗？");
                if (r === true) {
                    alert(row.id)
                } else {

                }
            },
            onEditableSave: function (field, row, oldValue, $el) {
                /*$.ajax({
                    success: function (data, status) {
                        if (status === "success") {
                            alert("编辑成功");
                        }
                    },
                    error: function () {
                        alert("Error");
                    },
                    complete: function () {

                    }
                });*/
                console.log(row);
                console.log(row.regTime);
                /*$.ajax({
                    type: "post",
                    url: "edit",
                    data: row,
                    success: function (data, status) {
                        if (status === "success") {
                            alert('提交数据成功');
                        }
                    },
                    error: function () {
                        alert('编辑失败');
                    },
                    complete: function () {

                    }

                });*/
            },
            rowStyle: function (row, index) {
                var classesArr = ['success', 'info'];
                var strclass = "";
                if (index % 2 === 0) {//偶数行
                    strclass = classesArr[0];
                } else {//奇数行
                    strclass = classesArr[1];
                }
                return {classes: strclass};
            }//隔行变色
        })
    });


    var $add = $('#add');
    var $remove = $('#del');
    $remove.click(function () {
        var ids = $.map($('#bootstrapTable').bootstrapTable('getSelections'), function (row) {
            return row.id;
        });
        if (ids.length !== 1) {
            alert("请选择一行删除!");
            return;
        }
        $('#bootstrapTable').bootstrapTable('remove', {
            field: 'id',
            values: ids
        });
    });

    $add.click(function () {
        var index = $('#bootstrapTable').bootstrapTable('getData').length;
        $('#bootstrapTable').bootstrapTable('insertRow', {
            index: 0,
            row: {
                id: 'id',
                name: '2333'
            }
        });
    });


    function queryParams(params) {
        var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
            limit: params.limit,   //页面大小
            offset: params.offset
        };
        return temp;
    };

    function operateFormatter(value, row, index) {//赋予的参数
        var row = row;
        return [
            '<a class="btn active" id="edit" onclick="updateLine()">编辑</a>',
            '<a class="btn active" id="delete" onclick="deleteLine()">删除</a>',
        ].join('');
    }

    function updateLine() {
        //var index = t.getAttribute("data-index");
        console.log(document.getElementById("edit").parentElement.parentElement);
        //console.log(t.getAttribute("data-index"));
        //$('#bootstrapTable').bootstrapTable('checkBy', index)
    }

    function deleteLine() {
        alert(233333)
    }
</script>
</body>
</html>